In [2]:
import pandas as pd
import numpy as np
import random
import warnings
import datetime
warnings.simplefilter(action='ignore', category=FutureWarning)
import plotly.graph_objects as go
import plotly.io as pio
import json

In [11]:
# https://www.kaggle.com/martj42/ufc-rankings/data#
# http://mma-stats.com/rankings/2013-02-05
df = pd.read_csv("rankings_history.csv")

In [12]:
df.head()

         date      weightclass            fighter  rank
0  2013-02-04  Pound-for-Pound     Anderson Silva     1
1  2013-02-04  Pound-for-Pound          Jon Jones     2
2  2013-02-04  Pound-for-Pound  Georges St-Pierre     3
3  2013-02-04  Pound-for-Pound          Jose Aldo     4
4  2013-02-04  Pound-for-Pound   Benson Henderson     5

In [13]:
len(df['date'].unique())

228

In [14]:
# label each date in order
date_values = dict()
count = 0
for date in df['date'].unique():
    date_values[date] = count
    count += 1

In [15]:
# Extract sequence of dates
df['sequence'] = df['date'].map(date_values)
sequence_df = df[['sequence','date']]
sequence_df = sequence_df.drop_duplicates(subset = 'date', keep='first')
sequence_df['date_formatted'] = sequence_df['date'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").strftime('%B %d, %Y'))
sequence_df.to_csv("sequence.csv",index=False)

In [16]:
df['weightclass'].unique()

array(['Pound-for-Pound', 'Flyweight', 'Bantamweight', 'Featherweight',
       'Lightweight', 'Welterweight', 'Middleweight', 'Light Heavyweight',
       'Heavyweight', "Women's Bantamweight", "Women's Strawweight",
       "Women's Featherweight", "Women's Flyweight"], dtype=object)

In [17]:
df.head()

         date      weightclass            fighter  rank  sequence
0  2013-02-04  Pound-for-Pound     Anderson Silva     1         0
1  2013-02-04  Pound-for-Pound          Jon Jones     2         0
2  2013-02-04  Pound-for-Pound  Georges St-Pierre     3         0
3  2013-02-04  Pound-for-Pound          Jose Aldo     4         0
4  2013-02-04  Pound-for-Pound   Benson Henderson     5         0

In [18]:
# Select lightweight class
lightweight_df = df[df['weightclass']=='Lightweight']
lightweight_df = lightweight_df.reset_index()
lightweight_df = lightweight_df.drop(columns=['index'])
print("Number of fighters: " + str(len(lightweight_df['fighter'].unique())))
print("Number of matches: " + str(len(lightweight_df)))

Number of fighters: 44
Number of matches: 3531

In [19]:
lightweight_df.head()

         date  weightclass           fighter  rank  sequence
0  2013-02-04  Lightweight  Benson Henderson     0         0
1  2013-02-04  Lightweight  Gilbert Melendez     1         0
2  2013-02-04  Lightweight    Anthony Pettis     2         0
3  2013-02-04  Lightweight      Gray Maynard     3         0
4  2013-02-04  Lightweight         Nate Diaz     4         0

In [20]:
# Extract sequence of dates
lightweight_df['sequence'] = lightweight_df['date'].map(date_values)
sequence_df = lightweight_df[['sequence','date']]
sequence_df = sequence_df.drop_duplicates(subset = 'date', keep='first')
# sequence_df.to_csv("lightweight-sequence.csv",index=False)

In [21]:
# Take top 10
lightweight_df = lightweight_df[lightweight_df['rank']<=10]
lightweight_df['reverse_rank'] = lightweight_df['rank'].apply(lambda x: 11-x if x > 0 else 11)
lightweight_df.head()

         date  weightclass           fighter  rank  sequence  reverse_rank
0  2013-02-04  Lightweight  Benson Henderson     0         0            11
1  2013-02-04  Lightweight  Gilbert Melendez     1         0            10
2  2013-02-04  Lightweight    Anthony Pettis     2         0             9
3  2013-02-04  Lightweight      Gray Maynard     3         0             8
4  2013-02-04  Lightweight         Nate Diaz     4         0             7

In [22]:
# grouped = (lightweight_df.groupby(['date'], as_index=True)
#              .apply(lambda x: x[['fighter','reverse_rank']].to_dict('r'))
# #              .apply(lambda x: x[['rank','fighter','reverse_rank','weightclass']].to_dict('r'))
#              .reset_index()
#              .rename(columns={0:'rankings'})
#              .to_json("lightweight.json",orient='records'))
# print(json.dumps(json.loads(grouped), indent=2, sort_keys=True))
# lightweight_df.to_json("lightweight.json",orient='records')

In [23]:
# Export (reverse) rankings over time in csv
new_lightweight_df = lightweight_df.pivot_table('reverse_rank', 'fighter', 'sequence', fill_value="-1")
new_lightweight_df.to_csv("lightweight-rankings.csv", index=True)

In [42]:
# Export list of unique fighters
df = pd.DataFrame(lightweight_df['fighter'].unique(),columns=["fighter"])
df.to_csv("lightweight-fighters.csv",index=False)

In [43]:
df['bar_color'] = "#C5B0D5"

In [3]:
# Read list of fighters and export to json
df = pd.read_csv("UFC Fighters - lightweight-fighters.csv") 
df[['fighter','bar_color']].to_json("lightweight-fighters.json", orient='records')

In [26]:
# Repeat for bantamweight class
bantamweight_df = df[df['weightclass']=='Bantamweight']
bantamweight_df = bantamweight_df.reset_index()
bantamweight_df = bantamweight_df.drop(columns=['index'])
print("Number of fighters: " + str(len(bantamweight_df['fighter'].unique())))
print("Number of matches: " + str(len(bantamweight_df)))

Number of fighters: 52
Number of matches: 3529

In [45]:
# Extract sequence of dates
bantamweight_df['sequence'] = bantamweight_df['date'].map(date_values)
sequence_df = bantamweight_df[['sequence','date']]
sequence_df = sequence_df.drop_duplicates(subset = 'date', keep='first')
# sequence_df.to_csv("bantamweight-sequence.csv",index=False)

In [46]:
# Take top 10
bantamweight_df = bantamweight_df[bantamweight_df['rank']<=10]
bantamweight_df['reverse_rank'] = bantamweight_df['rank'].apply(lambda x: 11-x if x > 0 else 11)
bantamweight_df.head()

         date   weightclass           fighter  rank  sequence  reverse_rank
0  2013-02-04  Bantamweight     Dominick Cruz     0         0            11
1  2013-02-04  Bantamweight       Renan Barao     1         0            10
2  2013-02-04  Bantamweight  Michael McDonald     2         0             9
3  2013-02-04  Bantamweight      Urijah Faber     3         0             8
4  2013-02-04  Bantamweight    Eddie Wineland     4         0             7

In [47]:
bantamweight_df[bantamweight_df['fighter'].isnull()]

Empty DataFrame
Columns: [date, weightclass, fighter, rank, sequence, reverse_rank]
Index: []

In [48]:
# Replace NaN fighter with "Vacant"
bantamweight_df['fighter'].fillna("Vacant", inplace=True)

In [49]:
# Export (reverse) rankings over time in csv
new_bantamweight_df = bantamweight_df.pivot_table('reverse_rank', 'fighter', 'sequence', fill_value="-1")
new_bantamweight_df.to_csv("bantamweight-rankings.csv", index=True)

In [50]:
# Export list of unique fighters
df = pd.DataFrame(bantamweight_df['fighter'].unique(),columns=["fighter"])
df.to_csv("bantamweight-fighters.csv",index=False)

In [51]:
df['bar_color'] = "#98DF8A"

In [4]:
# Read list of fighters and export to json
df = pd.read_csv("UFC Fighters - bantamweight-fighters.csv") 
df[['fighter','bar_color']].to_json("bantamweight-fighters.json", orient='records')

In [ ]:
def name_to_color(names, r_min=0, r_max=255, g_min=0, g_max=255, b_min=0, b_max=255):
    mapping_colors = dict()
    
    for name in names.unique():
        red = random.randint(r_min, r_max)
        green = random.randint(g_min, g_max)
        blue = random.randint(b_min, b_max)
        rgb_string = 'rgb({}, {}, {})'.format(red, green, blue)
    
        mapping_colors[name] = rgb_string
    
    return mapping_colors

In [ ]:
# mapping_colors = name_to_color(lightweight_df['fighter'], 125, 255, 0, 185, 0, 185)
# print(mapping_colors)
# lightweight_df['bar_color'] = lightweight_df['fighter'].map(mapping_colors)

In [ ]:
def frames_animation(df, title):
    list_of_frames = []
    initial_date = df['sequence'].min()
    final_date = df['sequence'].max()
    range_min = 0
    range_max = df['reverse_rank'].max() + 1

    for date in range(initial_date, final_date):
            fdata = df[df['sequence'] == date]
            date_value = fdata['date'].unique().min()      
            list_of_frames.append(go.Frame(data=[go.Bar(x=fdata['fighter'], y=fdata['reverse_rank'],
                                                        text=fdata['fighter'],
                                                        marker_color=fdata['bar_color'], 
                                                        hoverinfo='none',
                                                        textposition='outside', 
                                                        texttemplate='%{text}',
                                                        cliponaxis=False)],
                                           layout=go.Layout(font={'size': 14},
                                                            plot_bgcolor = '#FFFFFF',
                                                            xaxis={'showline': False, 'visible': False,
                                                                  'autorange': 'reversed' },
                                                            yaxis={'showline': False, 'visible': False, 
                                                                   'range': (range_min, range_max)},
                                                            bargap=0.15,
                                                            title=title + " " + str(date_value)
                                                           )))
    return list_of_frames

In [ ]:
def bar_race_plot (df, title, list_of_frames):  

    initial_date = df['sequence'].min()
    initial_date_value = df['date'].min()
    initial_names = df[df['sequence'] == initial_date]['fighter']
    initial_rank = df[df['sequence'] == initial_date]['rank']
    initial_reverse_rank = df[df['sequence'] == initial_date]['reverse_rank']
    initial_color = df[df['sequence'] == initial_date]['bar_color']
    range_max = df['reverse_rank'].max() + 1
    
    fig = go.Figure(
        data=[go.Bar(x=initial_names,y=initial_reverse_rank,
                     text=initial_names,
                       marker_color=initial_color, 
                       hoverinfo='none',
                       textposition='outside', 
                         texttemplate='%{x}',
                       cliponaxis=False)],
        layout=go.Layout(font={'size': 14}, plot_bgcolor = '#FFFFFF',
                         xaxis={'showline': False, 'visible': False, 'autorange': 'reversed' },
                         yaxis={'showline': False, 'visible': False, 'range': (0, range_max)},
                         bargap=0.15, title=title + " " +  str(initial_date_value),
                         updatemenus=[dict(type="buttons",
                                           buttons=[dict(label="Play",
                                                         method="animate",
                                                         args=[None,{"frame": {"duration": 500, "redraw": True}, "fromcurrent": True}]),
                                                    dict(label="Pause",
                                                         method="animate",
                                                         args=[[None],{"frame": {"duration": 0, "redraw": False}, "mode": "immediate","transition": {"duration": 0}}])])]),
        frames=list(list_of_frames))
    fig.update_layout(uniformtext_minsize=10, uniformtext_mode='hide')
    return fig

In [ ]:
# title = 'Rankings'
# list_of_frames = frames_animation(lightweight_df, title)
# fig = bar_race_plot(lightweight_df, title, list_of_frames)
# fig.show()